html,
body,
.leaflet-map {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

.elevation-summary {
    margin: 0;
    margin-top: ;
    margin-right: ;
    margin-bottom: ;
    margin-left: ;
   }

.leaflet-control-attribution {
    display: none;
}


